{% extends 'client/baseClientView.jinja2' %}

{% block body %}
    <div class="content">
        <div class="404">
            <h1>We can't find the page you're looking for.</h1>
            <p>Go ahead back to <a href="/">AddressReport</a> and look for something else.</p>
        </div>        
    </div>
{% endblock %}

{#<!DOCTYPE html>
<html>
    <head>
        <title>AddressReport 404</title>
        {% include 'client/baseClientHead.jinja2' %}
    </head>
    <body class="client">
        <h1>We can't find the page you're looking for.</h1>
        <p>Go ahead back to <a href="/">AddressReport</a> and look for something else.</p>
    </body>
</html>#}