<div class="complaint-section report-section">
    <div class="report-section-header">
        <h2>Complaints</h2>
    </div>

    <div class="quick-stats">

        <h3 class="content">Complaints and Violations at a Glance</h3>
        <div class="subsection-row content">
            {{ complaints(subsections.complaints) }}
            {{ violations(subsections.complaints) }}
        </div>
    </div>
</div>