{% extends 'client/baseClientView.jinja2' %}
{% block body %}
    <div class="contact">
        <div class="static-banner">
            <div class="static-header">
                <div class="main-header">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>

        <div class="contactMap"></div>
    </div>

    {% include 'client/baseClientFoot.jinja2' %}
{% endblock %}