{% macro render() %}
    <div class="credibility">
        <div class="content">
            <div class="logos">
                <h3>As Seen In:</h3>
                <div class="logo">
                    <img class="wsj" src="{{ resource('/image/credibility-wsj-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="curbed" src="{{ resource('/image/credibility-curbed-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="villagevoice" src="{{ resource('/image/credibility-villagevoice-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="dailynews" src="{{ resource('/image/credibility-dailynews-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="brick" src="{{ resource('/image/credibility-brick-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="realdeal" src="{{ resource('/image/credibility-realdeal-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="inman" src="{{ resource('/image/credibility-inman-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="boston" src="{{ resource('/image/credibility-boston-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="agbeat" src="{{ resource('/image/credibility-agbeat-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="bostoninno" src="{{ resource('/image/credibility-bostoninno-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="gothamist" src="{{ resource('/image/credibility-gothamist-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="brooklyn" src="{{ resource('/image/credibility-brooklyn-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="n" src="{{ resource('/image/credibility-n-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="thrillist" src="{{ resource('/image/credibility-thrillist-full.png') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="stanford" src="{{ resource('/image/credibility-stanford-full.gif') }}" alt=""/>
                </div>
                <div class="logo">
                    <img class="webby" src="{{ resource('/image/credibility-webby-full.gif') }}" alt=""/>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}