{% extends 'client/baseClientView.jinja2' %}

{% block head %}
    <title>Developer</title>
{% endblock %}

{% block body %}
	<div class="content">
    <iframe id="developer-guide" src="//docs.google.com/document/d/10Y_085lXbG4txECgsHLawgbKjsd-LRA7dleA-6YZTZ0/pub?embedded=true" width=980 height=1400 ></iframe>

    </div>
{% endblock %}
