{% extends 'client/baseClientView.jinja2' %}

{% block head %}
    <title>Developer</title>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="static-banner">
            <div class="static-header">
                <div class="main-header">
                    <h1>Developer Portal</h1>
                </div>
            </div>
        </div>
        <p>
            <a href="/developer/apis/"><h3>Developer Guide</h3></a>
        </p>
        <br/>
        <p>
            <a href="https://documenter.getpostman.com/view/99696/addressreport-apis/2HSb9Q"><h3>Interactive Docs</h3></a> 
        </p>
        <br/>
        <p>
            <a href="/developer/widgets/"><h3>Developer Widget</h3></a>
        </p>
    </div>
{% endblock %}

