<div class="full-badge">
    <div class="badge">
	   <img src="{{ resource('/image/badge/%s.png' % badge.icon) }}" class="badge-image" />
    </div>
	<div class="badge-info">
		<h4>{{ badge.name }}</h4>
		<p>{{ badge.description }}</p>
	</div>
</div>