<div style="height: 650px" id="the_categories"></div>
<script src="//static.awesomeom.com/lam.js"></script>
<script>
    var pageOptions = {
        'campaign': 'ar1'
    };

    var categories = {
        type: 'category_page',
        container: 'the_categories',
        layout: 'default'
    };
    
    lam.partner.render(pageOptions, categories);
</script>