{% extends 'client/baseClientView.jinja2' %}

{% block body %}
    <div class="partners">
        <h3>
            AddressReport works alongside a number of partners to
            provide users with special offers. Our current partners include:
        </h3>

        <ul class="partner-list">
            <li class="partner"><h4>Solar Joy</h4></li>
            <li class="partner"><h4>Wallamedia</h4></li>
            <li class="partner"><h4>Unpakt</h4></li>
            <li class="partner"><h4>OpenMail</h4></li>
        </ul>
        
        <h3>
            Looking to be our partner? Contact us at
            <a class="partner-contact" href="mailto:team@addressreport.com">
                team@addressreport.com
            </a>
        </h3>
    </div>
{% endblock %}