<div class="location-report-section report-section">
    <div class="city-map">
        {{ JsonPayload(neighborhood=subsections.map.neighborhood, areaType=subsections.map.areaType) }}
    </div>
</div>