<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        {% include 'client/baseClientHead.jinja2' %}
    </head>
    <body class="client">
        {% include 'client/gtmContainerTag.jinja2' %}
        
        <div class="header">
            <div class="content">
                <div class="logo-space">
                    <a href="/" class="logo">
                        <img src="{{ resource('/image/logoWhite.png') }}" alt="AddressReport" />
                    </a>
                </div>
            </div>
        </div>
        <div class="reset-password">
            <h1>Password Reset</h1>
            <p>Enter a new password to reset it.</p>
            <form method="POST">
                <div class="form-field text">
                    <label>New Password</label>
                    <div class="input-space">
                        <input type="password" name="new" required
                            pattern=".{8,}" title="8 characters minimum"
                            placeholder="Create a new password" />
                    </div>
                </div>
                <button class="normal">
                    Update Password
                </button>
            </form>
        </div>
        {% include 'client/baseClientScripts.jinja2' %}
    </body>
</html>