<div class="footer-sign-up">
    <div class="content">
        
        <div class="row">
          <div class="col-sm-4 footer-logo">
              <img src="{{ resource('/image/logoBlack.png') }}" alt="AddressReport" />
          </div>
          <div class="col-sm-8 footer-content">
                <p>Please contact <a href="mailto:support@onboardinformatics.com?subject=AddressReport Acount Sign Up" target="_blank">support@onboardinformatics.com</a> with trouble getting started.<br />
                    In order to create an account, you must contact Address Report.<br />
                    &nbsp;</p>
                <p>Users of this dashboard agree to the <a href="{{ config()['URL']['BASE'] }}/terms/">AddressReport Terms of Use</a>.</p>
          </div>
        </div>

    </div>
</div>