{% extends 'client/addressLookupLandingVideo.jinja2' %}

{% block text %}
    <h1>So sorry to see you go...</h1>
    <h2>
        You've been unsubscribed from our mailing list.
    </h2>
    <p>
        Thank you for trying AddressReport. You're still 
        welcome to come back any time for reports.
    </p>
{% endblock %}