{% extends 'client/addressLookupLandingVideo.jinja2' %}

{% block text %}
	<div class="unsubscribe-alert">
	    <h1>So sorry to see you go...</h1>
	    <h2>
	        You've been unsubscribed from your alert.
	    </h2>
	    <p>
	        You're still welcome to come back any time for reports or alerts.
	    </p>
	</div>
{% endblock %}