<div class="as-seen-in">
  <div>AS SEEN IN:</div>
  <img src="https://www.addressreport.com/resource/image/credibility-wsj-grey.png" alt="Wall Street Journal" width="70" height="43" />
  <img src="https://www.addressreport.com/resource/image/credibility-curbed-grey.png" alt="Curbed" width="70" height="29" />
  <img src="https://www.addressreport.com/resource/image/credibility-dailnews-grey.png" alt="NY Daily News" width="70" height="48" />
  <img src="https://www.addressreport.com/resource/image/credibility-buzzfeed-grey.png" alt="Buzzfeed" width="70" height="53" />
  <img src="https://www.addressreport.com/resource/image/credibility-refinery29-grey.png" alt="Refinery29" width="70" height="45" />
</div>