<h1>Password reset request</h1>
<p>We've received your password reset request for AddressReport. If you did not request to have you password reset, please ignore this email or contact us.</p>
<p>To reset your password, simply <a href="https://www.addressreport.com/reset-password/?token={{ token }}">click this link</a> and enter a new password.</p>